/* ===FONTFAMILIES=== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Sawarabi+Mincho&display=swap');

/* ===Variables=== */
:root {
    /* colors */
  --col-hi1: #FCC;
  --col-hi2: rgb(0, 0, 0);
  --col-hi3: #bebebe;
  --col-lo1: #00F;
  --col-lo2: #005D;
  --col-ne1: #ffffff;
  --col-ne2: #888888;

  --scrollbar-bg: #3333;
  --scrollbar-thumb: #000;
  /* ===browser=== */
  cursor: crosshair;
  scroll-behavior: smooth;
}
/* global */
body {
  overflow-x: hidden;
  background-attachment: fixed;
}
a {
  color: rgb(190, 190, 190);
}
.section1 .itemTitle > a {
  color: #fff;
}
.section1 .itemTitle > a:hover {
  color: var(--col-lo1);
  filter: drop-shadow(0 1px 1px #fff);
}
p {
  margin-bottom: 1rem;
}
.worklabel {
  position: absolute;
  display: inline-block;
  color: #777;
  top: 0;
  right: calc(var(--var-sidepad)/2);
  font-variant-caps: all-small-caps;
}
.displace-height {
  height: 100vh;
}
/* ===Scrollbar=== */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.867) #0002;
}

*::-webkit-scrollbar {
  overflow-y: scroll;
  width: 8px;
  height: 95%;
}
*::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 5px;
}

.cvlink {
  position: ;
  text-align: center;
}
.biolink1 {
  position: absolute;
  top: 30px;
  right: 8em;
}
.biolink2 {
  position: absolute;
  top: 30px;
  right: 2em;
}
/* TRIGGERWARNING */
.trigger {
  color: red;
  position: absolute;
  margin-top: -4em;
}
.triggersmaller {
  font-size: 0.7em;
  color: red;
  position: absolute;
  margin-top: -4em;
}
.triggerwarning {
  filter: blur(4px);
  transition: 300ms;
}
.tw-overflow {
  padding: 0.2em;
  overflow: hidden;
}
.triggerwarning:hover {
  filter: blur(0px);
}


@media only screen and (max-width: 1600px) {
  .trigger {
    margin-top: -2em;
    font-size: 0.7em;
  }
  .triggersmaller {
    margin-top: -1.7em;
    font-size: 0.4em;
  }
}
@media only screen and (max-width: 900px) {
  .trigger {
    margin-top: -2em;
    font-size: 0.5em;
  }
  .triggersmaller {
    margin-top: -1.5em;
    font-size: 0.3em;
  }
}
