body {
  background: none;
}
.navlogo:hover {
  filter: invert(100%);
  background-image: radial-gradient(#fffc, #0000 70%);
}
/* this adds padding to compensate with the scrollbar */
.parent {
  margin-right: calc(-100vw - -100%);
}
/* ===Nav=== */
.headlogo:hover {
  filter: invert(100%);
  background-image: radial-gradient(#fffc, #0000 70%);
}
.wincontent {
  position: fixed;
}
.wincontact {
  position: fixed;
}
.winbio {
  position: fixed;
}
.winweb {
  position: fixed;
}
h2, h3 {
  font-size: 1.2em;
}
